:root{
    --pink: #fae3d9;
    --cyan: #61c0bf;
    --black: #111;
    --grey: #7D716C;
}

body{
    background-color: var(--black);
    font-family:'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.05rem;
    color: var(--pink);
    margin: 0;
    font-size: small;
}

div{
    border-radius: 1vw;
}

h2 {
    border-bottom: var(--pink) solid 1pt;
    padding-bottom: 0.1rem;
    padding-top: 0.5rem !important;

}

button {
  cursor: grab !important;
}

.selected{
    color: var(--cyan) !important;
    border-color: var(--cyan) !important;
}

.scroll{
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    overflow-y: scroll;
    max-height: 49vh;
    width: 26rem;
}

.scrollcontent {
    width: 25rem;
}

::-webkit-scrollbar {
    width: 1rem;
    margin-block: 5rem;
    cursor: grab !important;
}

::-webkit-scrollbar-track{
    color: var(--black);
    border: solid 1pt var(--pink);
    border-radius: 100vw;
    margin: auto; 
    margin-left: 1rem;
    cursor: grab !important;

    
}

::-webkit-scrollbar-track {
  background: var(--black);
  border: solid 1pt var(--pink);
  border-radius: 100vw;

}

::-webkit-scrollbar-thumb {
    border: solid 2pt var(--pink) ;
    background: var(--black);
    border-radius: 100vw;
    cursor: grab !important;

}

::-webkit-scrollbar-thumb:hover {
    background: var(--pink);
}


.logobackground{
    background-color: var(--black);
    padding: 0;
}

.main{
    display: flex;
    justify-items: center;
    align-items: stretch;
    margin: auto !important;
}

.inline{
    display: flex;
}

.identicon {
    height: 4vh;
    width: 4vh;
    margin: auto;
}

.right0_5rem{
    margin-right: 0.5rem;
}

.lineheight{
    line-height: 1.5rem;
}

/* .filetext {
    color: transparent !important;
}

.filetext::after{
    content:"No image chosen";
    margin-right: 1rem;
    color: inherit !important;
} */

.navbar{
    padding: 1vh;
    margin-bottom: 1.5rem;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--pink) solid 1pt;
}


.space-between {
    display: flex;
    justify-content: space-between;
}


.main_element{
    background-color: var(--black);
}

.column-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

@media (max-width: 900px) {
    .column-container{
        flex-flow: column;
    }
}


.half{
    width: 50vw;
}

.halfsplit{
    width: 50%;
    margin: 0 5% 0 0;
}

.donation {
    /* height: 5.5rem; 
    border: var(--pink) solid 1pt; */
    margin: 1rem;
    text-align: center;
}


.fundraising {
    height: 5.5rem; 
    border: var(--pink) solid 1pt;
}

.fundraisingbar {
    width: 24rem;
    margin: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem !important;
}

.nomargin {
    margin: 0 !important;
}

.searchbar {
    background: none;
    border: var(--pink) solid 1pt;
    border-radius: 1rem;
    height: 1.5rem;
    padding: 0 1rem;
    color: var(--pink);
    margin-right: 0.25rem !important;
    width: 24vh;
}

.width100 {
    width: 100%;
}

.width96_5 {
    width: 95.5%;
}
.width95 {
    width: 90%;
    padding-left: 1rem;
}

.message {
    margin-bottom: 0.05rem !important;
}

.width65 {
    width: 60%;
    padding-left: 1rem;
}

.width45 {
    width: 45%;
}

.marginright{
margin-right: 1rem;

}

.thickborder {
    border-width: 2pt !important;
}

.nopaddingsides{
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.width30 {
    width: 30%
}

.textcenter{
    text-align: center;
}

.createbutton {
  background: none;
  border: var(--pink) solid 1pt;
  border-radius: 1.5rem;
  height: 3rem;
  font-size: large;
  padding: 0 1rem;
  color: var(--pink);
}

.searchbutton {
  background: none;
  border: var(--pink) solid 1pt;
  border-radius: 1rem;
  height: 1.7rem;
  font-size: inherit;
  padding: 0 1rem;
  color: var(--pink);
}



.inputbar {
    background: none;
    border: var(--pink) solid 1pt;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    height: 1.5rem;
    color: var(--pink);
}

.togglefr{
    background: none;
    border: var(--pink) solid 1pt;
    border-radius: 1rem;
    height: 1.5rem;
    padding: 0 1rem;
    color: var(--pink);
}

.fundraisingbody {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.fundraising img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border-radius: 2rem;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.fundraising button {
    display: block;
    width: 9vw;
    background: none;
    color: inherit;
    font: inherit;
    /* border: solid 1pt; */
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    border: none;
    border-color: inherit;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    margin-right: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

}

.fundraising p {
    margin: 0;
    padding: 0;
}

.titletext{
    font-size: large;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.bigtext{
    font-size: xx-large;
}

.large {
    font-size: large;
}

.grey {
    color: var(--grey) !important;
    border-color: var(--grey) !important;
}

.hidden {
    visibility: hidden;
}

.filebutton::file-selector-button {
  display:none;
}

#loader {
    display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
margin: auto !important;
text-align: center;
margin-top: 30vh !important;

}